@use "../mixins/breakpoint.scss" as breakpoint;

.login {
    display: block;
    width: 100%;
    min-height: 100vh;

    @include breakpoint.min("lg") {
        display: flex;
        background-image: url("../assets/images/background/login.jpg");
        background-repeat: no-repeat;
        background-position: center right -40vw;
        background-size: cover;
    }

    @include breakpoint.min("xl") {
        background-position: center right -15vw;
        background-size: contain;
    }

    @include breakpoint.min("xxl") {
        background-position: center right -10vw;
    }

    @media (min-width: 1800px) {
        background-position: center right 0;
    }

    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min(100%, 450px);
        margin: auto;
        gap: 24px;

        @include breakpoint.min("lg") {
            margin-left: 5vw;
        }

        @include breakpoint.min("xl") {
            margin-left: auto;
            margin-right: 60vh;
        }

        @media (min-width: 1800px) {
            margin-right: 80vh;
        }
    }

    &-brand {
        margin-top: 50px;
    }
    &-back {
        margin-bottom: 50px;
    }
}
