.login {
    display: block;
    width: 100%;
    min-height: 100vh;

    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        width: min(100%, 450px);
        margin: auto;
        gap: 24px;
    }

    &-brand {
        margin-top: 50px;
    }
}
