$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$ds-icon-arrow-up-circle: "\e900";
$ds-icon-arrow-down-circle: "\e901";
$ds-icon-arrow-up-left-circle: "\e902";
$ds-icon-arrow-down-left-circle: "\e903";
$ds-icon-arrow-up-right-circle: "\e904";
$ds-icon-arrow-down-right-circle: "\e905";
$ds-icon-arrow-left: "\e906";
$ds-icon-arrow-right: "\e907";
$ds-icon-arrow-down-left: "\e908";
$ds-icon-arrow-up-right: "\e909";
$ds-icon-arrow-up-left: "\e90a";
$ds-icon-arrow-down-right: "\e90b";
$ds-icon-arrow-down: "\e90c";
$ds-icon-arrow-up: "\e90d";
$ds-icon-arrows-maximize: "\e90e";
$ds-icon-arrows-minimize: "\e90f";
$ds-icon-arrows-move: "\e910";
$ds-icon-chevron-down: "\e911";
$ds-icon-chevron-left: "\e912";
$ds-icon-chevron-right: "\e913";
$ds-icon-chevron-up: "\e914";
$ds-icon-upload: "\e915";
$ds-icon-download-off: "\e916";
$ds-icon-download: "\e917";
$ds-icon-login: "\e918";
$ds-icon-logout: "\e919";
$ds-icon-refresh-alert: "\e91a";
$ds-icon-refresh: "\e91b";
$ds-icon-reload: "\e91c";
$ds-icon-switch-horizontal: "\e91d";
$ds-icon-switch-vertical: "\e91e";
$ds-icon-arrows-diff: "\e91f";
$ds-icon-arrows-horizontal: "\e920";
$ds-icon-eye-check: "\e921";
$ds-icon-eye-off: "\e922";
$ds-icon-eye: "\e923";

