$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$ds-icon-address-book-off: "\e9d2";
$ds-icon-address-book: "\e9d3";
$ds-icon-friends-off: "\e9d4";
$ds-icon-friends: "\e9d5";
$ds-icon-mail-fast: "\e9d6";
$ds-icon-mail-forward: "\e9d7";
$ds-icon-mail: "\e9d8";
$ds-icon-mail-opened: "\e9d9";
$ds-icon-mail-off: "\e9da";
$ds-icon-message-2-code: "\e9db";
$ds-icon-message-2-off: "\e9dc";
$ds-icon-message-2-share: "\e9dd";
$ds-icon-message-2: "\e9de";
$ds-icon-message-chatbot: "\e9df";
$ds-icon-message-circle-2: "\e9e0";
$ds-icon-message-circle-off: "\e9e1";
$ds-icon-message-circle: "\e9e2";
$ds-icon-message-code: "\e9e3";
$ds-icon-message-dots: "\e9e4";
$ds-icon-message-forward: "\e9e5";
$ds-icon-message-language: "\e9e6";
$ds-icon-message-off: "\e9e7";
$ds-icon-message-plus: "\e9e8";
$ds-icon-message-report: "\e9e9";
$ds-icon-message-share: "\e9ea";
$ds-icon-message: "\e9eb";
$ds-icon-messages-off: "\e9ec";
$ds-icon-messages: "\e9ed";
$ds-icon-send-off: "\e9ee";
$ds-icon-send: "\e9ef";
$ds-icon-share-off: "\e9f0";
$ds-icon-share: "\e9f1";
$ds-icon-social-off: "\e9f2";
$ds-icon-social: "\e9f3";
$ds-icon-anchor-off: "\e9f4";
$ds-icon-anchor: "\e9f5";
$ds-icon-barrier-block-off: "\e9f6";
$ds-icon-barrier-block: "\e9f7";
$ds-icon-beach-off: "\e9f8";
$ds-icon-beach: "\e9f9";
$ds-icon-bed-off: "\e9fa";
$ds-icon-bed: "\e9fb";
$ds-icon-compass-off: "\e9fc";
$ds-icon-compass: "\e9fd";
$ds-icon-current-location-off: "\e9fe";
$ds-icon-current-location: "\e9ff";
$ds-icon-directions-off: "\ea00";
$ds-icon-directions: "\ea01";
$ds-icon-flag-2-off: "\ea02";
$ds-icon-flag-2: "\ea03";
$ds-icon-flag-3: "\ea04";
$ds-icon-flag-off: "\ea05";
$ds-icon-flag: "\ea06";
$ds-icon-gas-station-off: "\ea07";
$ds-icon-geometry: "\ea08";
$ds-icon-globe-off: "\ea09";
$ds-icon-globe: "\ea0a";
$ds-icon-gps: "\ea0b";
$ds-icon-live-view: "\ea0c";
$ds-icon-location-broken: "\ea0d";
$ds-icon-location-off: "\ea0e";
$ds-icon-location: "\ea0f";
$ds-icon-luggage-off: "\ea10";
$ds-icon-luggage: "\ea11";
$ds-icon-map-2: "\ea12";
$ds-icon-map-off: "\ea13";
$ds-icon-map-pin-off: "\ea14";
$ds-icon-map-pin: "\ea15";
$ds-icon-map-pins: "\ea16";
$ds-icon-map-search: "\ea17";
$ds-icon-medical-cross-off: "\ea18";
$ds-icon-medical-cross: "\ea19";
$ds-icon-navigation-off: "\ea1a";
$ds-icon-navigation: "\ea1b";
$ds-icon-north-star: "\ea1c";
$ds-icon-parking-off: "\ea1d";
$ds-icon-parking: "\ea1e";
$ds-icon-pennant-2: "\ea1f";
$ds-icon-pennant-off: "\ea20";
$ds-icon-pennant: "\ea21";
$ds-icon-pin: "\ea22";
$ds-icon-pinned-off: "\ea23";
$ds-icon-pinned: "\ea24";
$ds-icon-planet-off: "\ea25";
$ds-icon-planet: "\ea26";
$ds-icon-pokeball-off: "\ea27";
$ds-icon-pokeball: "\ea28";
$ds-icon-radar-2: "\ea29";
$ds-icon-radar-off: "\ea2a";
$ds-icon-radar: "\ea2b";
$ds-icon-road-off: "\ea2c";
$ds-icon-road-sign: "\ea2d";
$ds-icon-rocket-off: "\ea2e";
$ds-icon-rocket: "\ea2f";
$ds-icon-route-2: "\ea30";
$ds-icon-route-off: "\ea31";
$ds-icon-route: "\ea32";
$ds-icon-satellite-off: "\ea33";
$ds-icon-satellite: "\ea34";
$ds-icon-school-off: "\ea35";
$ds-icon-school: "\ea36";
$ds-icon-sign-left: "\ea37";
$ds-icon-sign-right: "\ea38";
$ds-icon-stairs-down: "\ea39";
$ds-icon-stairs-up: "\ea3a";
$ds-icon-stairs: "\ea3b";
$ds-icon-target-off: "\ea3c";
$ds-icon-target: "\ea3d";
$ds-icon-tent-off: "\ea3e";
$ds-icon-tent: "\ea3f";
$ds-icon-tools-kitchen-2-off: "\ea40";
$ds-icon-tools-kitchen-2: "\ea41";
$ds-icon-tools-kitchen-off: "\ea42";
$ds-icon-tools-kitchen: "\ea43";
$ds-icon-traffic-cone-off: "\ea44";
$ds-icon-traffic-cone: "\ea45";
$ds-icon-traffic-lights-off: "\ea46";
$ds-icon-traffic-lights: "\ea47";
$ds-icon-tree: "\ea48";
$ds-icon-trees: "\ea49";
$ds-icon-view-360-off: "\ea4a";
$ds-icon-view-360: "\ea4b";
$ds-icon-viewfinder-off: "\ea4c";
$ds-icon-viewfinder: "\ea4d";
$ds-icon-world-download: "\ea4e";
$ds-icon-world-latitude: "\ea4f";
$ds-icon-world-longitude: "\ea50";
$ds-icon-world-off: "\ea51";
$ds-icon-world-upload: "\ea52";
$ds-icon-world-www: "\ea53";
$ds-icon-world: "\ea54";
$ds-icon-zoom-cancel: "\ea55";
$ds-icon-zoom-check: "\ea56";
$ds-icon-zoom-code: "\ea57";
$ds-icon-zoom-exclamation: "\ea58";
$ds-icon-zoom-in-area: "\ea59";
$ds-icon-zoom-in: "\ea5a";
$ds-icon-zoom-money: "\ea5b";
$ds-icon-zoom-out-area: "\ea5c";
$ds-icon-zoom-out: "\ea5d";
$ds-icon-zoom-pan: "\ea5e";
$ds-icon-zoom-question: "\ea5f";
$ds-icon-zoom-replace: "\ea60";
$ds-icon-zoom-reset: "\ea61";
$ds-icon-adjustments-alt: "\e924";
$ds-icon-adjustments-horizontal: "\e925";
$ds-icon-adjustments-off: "\e926";
$ds-icon-adjustments: "\e927";
$ds-icon-alarm-minus: "\e928";
$ds-icon-alarm-off: "\e929";
$ds-icon-alarm-plus: "\e92a";
$ds-icon-alarm-snooze: "\e92b";
$ds-icon-alarm: "\e92c";
$ds-icon-alert-circle: "\e92d";
$ds-icon-alert-octagon: "\e92e";
$ds-icon-alert-triangle: "\e92f";
$ds-icon-at-off: "\e930";
$ds-icon-at: "\e931";
$ds-icon-ban: "\e932";
$ds-icon-bell-minus: "\e933";
$ds-icon-bell-off: "\e934";
$ds-icon-bell-plus: "\e935";
$ds-icon-bell-ringing-2: "\e936";
$ds-icon-bell-ringing: "\e937";
$ds-icon-bell-x: "\e938";
$ds-icon-bell-z: "\e939";
$ds-icon-bell: "\e93a";
$ds-icon-calendar-due: "\e93b";
$ds-icon-calendar-event: "\e93c";
$ds-icon-calendar-minus: "\e93d";
$ds-icon-calendar-off: "\e93e";
$ds-icon-calendar-plus: "\e93f";
$ds-icon-calendar-stats: "\e940";
$ds-icon-calendar-time: "\e941";
$ds-icon-calendar: "\e942";
$ds-icon-check: "\e943";
$ds-icon-checkbox: "\e944";
$ds-icon-checks: "\e945";
$ds-icon-circle-check: "\e946";
$ds-icon-circle-minus: "\e947";
$ds-icon-circle-plus: "\e948";
$ds-icon-circle-x: "\e949";
$ds-icon-clock-2: "\e94a";
$ds-icon-clock-cancel: "\e94b";
$ds-icon-clock-edit: "\e94c";
$ds-icon-clock-hour-1: "\e94d";
$ds-icon-clock-hour-2: "\e94e";
$ds-icon-clock-hour-3: "\e94f";
$ds-icon-clock-hour-4: "\e950";
$ds-icon-clock-hour-5: "\e951";
$ds-icon-clock-hour-6: "\e952";
$ds-icon-clock-hour-7: "\e953";
$ds-icon-clock-hour-8: "\e954";
$ds-icon-clock-hour-9: "\e955";
$ds-icon-clock-hour-10: "\e956";
$ds-icon-clock-hour-11: "\e957";
$ds-icon-clock-hour-12: "\e958";
$ds-icon-clock-off: "\e959";
$ds-icon-clock-pause: "\e95a";
$ds-icon-clock-play: "\e95b";
$ds-icon-clock-record: "\e95c";
$ds-icon-clock-stop: "\e95d";
$ds-icon-clock: "\e95e";
$ds-icon-cloud-download: "\e95f";
$ds-icon-cloud-lock-open: "\e960";
$ds-icon-cloud-lock: "\e961";
$ds-icon-cloud-upload: "\e962";
$ds-icon-dashboard-off: "\e963";
$ds-icon-dashboard: "\e964";
$ds-icon-dots-circle-horizontal: "\e965";
$ds-icon-dots-diagonal-2: "\e966";
$ds-icon-dots-diagonal: "\e967";
$ds-icon-dots-vertical: "\e968";
$ds-icon-dots: "\e969";
$ds-icon-exclamation-circle: "\e96a";
$ds-icon-external-link-off: "\e96b";
$ds-icon-external-link: "\e96c";
$ds-icon-filter-off: "\e96d";
$ds-icon-filter: "\e96e";
$ds-icon-gauge-off: "\e96f";
$ds-icon-gauge: "\e970";
$ds-icon-grid-dots: "\e971";
$ds-icon-grip-horizontal: "\e972";
$ds-icon-grip-vertical: "\e973";
$ds-icon-help-off: "\e974";
$ds-icon-help: "\e975";
$ds-icon-history-off: "\e976";
$ds-icon-history-toggle: "\e977";
$ds-icon-history: "\e978";
$ds-icon-hourglass-empty: "\e979";
$ds-icon-hourglass-high: "\e97a";
$ds-icon-hourglass-low: "\e97b";
$ds-icon-hourglass-off: "\e97c";
$ds-icon-hourglass: "\e97d";
$ds-icon-inbox-off: "\e97e";
$ds-icon-inbox: "\e97f";
$ds-icon-info-circle: "\e980";
$ds-icon-info-square-rounded: "\e981";
$ds-icon-info-square: "\e982";
$ds-icon-lifebuoy-off: "\e983";
$ds-icon-lifebuoy: "\e984";
$ds-icon-loader-2: "\e985";
$ds-icon-loader-quarter: "\e986";
$ds-icon-loader: "\e987";
$ds-icon-lock-access-off: "\e988";
$ds-icon-lock-access: "\e989";
$ds-icon-lock-off: "\e98a";
$ds-icon-lock-open-off: "\e98b";
$ds-icon-lock-open: "\e98c";
$ds-icon-lock-square-rounded: "\e98d";
$ds-icon-lock-square: "\e98e";
$ds-icon-lock: "\e98f";
$ds-icon-maximize-off: "\e990";
$ds-icon-maximize: "\e991";
$ds-icon-menu-2: "\e992";
$ds-icon-menu-order: "\e993";
$ds-icon-menu: "\e994";
$ds-icon-minimize: "\e995";
$ds-icon-notification-off: "\e996";
$ds-icon-notification: "\e997";
$ds-icon-password: "\e998";
$ds-icon-pointer: "\e999";
$ds-icon-question-circle: "\e99a";
$ds-icon-question-mark: "\e99b";
$ds-icon-search-off: "\e99c";
$ds-icon-search: "\e99d";
$ds-icon-settings-2: "\e99e";
$ds-icon-settings-automation: "\e99f";
$ds-icon-settings-off: "\e9a0";
$ds-icon-settings: "\e9a1";
$ds-icon-shield-check: "\e9a2";
$ds-icon-shield-checkered: "\e9a3";
$ds-icon-shield-chevron: "\e9a4";
$ds-icon-shield-half-filled: "\e9a5";
$ds-icon-shield-half: "\e9a6";
$ds-icon-shield-lock: "\e9a7";
$ds-icon-shield-off: "\e9a8";
$ds-icon-shield-x: "\e9a9";
$ds-icon-shield: "\e9aa";
$ds-icon-square-rounded-check: "\e9ab";
$ds-icon-square-rounded-minus: "\e9ac";
$ds-icon-square-rounded-plus: "\e9ad";
$ds-icon-square-rounded-x: "\e9ae";
$ds-icon-square-x: "\e9af";
$ds-icon-star-half: "\e9b0";
$ds-icon-star-off: "\e9b1";
$ds-icon-star: "\e9b2";
$ds-icon-stars-off: "\e9b3";
$ds-icon-stars: "\e9b4";
$ds-icon-thumb-down-off: "\e9b5";
$ds-icon-thumb-down: "\e9b6";
$ds-icon-thumb-up-off: "\e9b7";
$ds-icon-thumb-up: "\e9b8";
$ds-icon-toggle-left: "\e9b9";
$ds-icon-toggle-right: "\e9ba";
$ds-icon-tool: "\e9bb";
$ds-icon-tooltip: "\e9bc";
$ds-icon-trash-off: "\e9bd";
$ds-icon-trash-x: "\e9be";
$ds-icon-trash: "\e9bf";
$ds-icon-urgent: "\e9c0";
$ds-icon-user-check: "\e9c1";
$ds-icon-user-circle: "\e9c2";
$ds-icon-user-exclamation: "\e9c3";
$ds-icon-user-minus: "\e9c4";
$ds-icon-user-off: "\e9c5";
$ds-icon-user-plus: "\e9c6";
$ds-icon-user-search: "\e9c7";
$ds-icon-user-x: "\e9c8";
$ds-icon-user: "\e9c9";
$ds-icon-users: "\e9ca";
$ds-icon-window-maximize: "\e9cb";
$ds-icon-window-minimize: "\e9cc";
$ds-icon-x: "\e9cd";
$ds-icon-arrow-narrow-down: "\e9ce";
$ds-icon-arrow-narrow-left: "\e9cf";
$ds-icon-arrow-narrow-right: "\e9d0";
$ds-icon-arrow-narrow-up: "\e9d1";
$ds-icon-arrow-up-circle: "\e900";
$ds-icon-arrow-down-circle: "\e901";
$ds-icon-arrow-up-left-circle: "\e902";
$ds-icon-arrow-down-left-circle: "\e903";
$ds-icon-arrow-up-right-circle: "\e904";
$ds-icon-arrow-down-right-circle: "\e905";
$ds-icon-arrow-left: "\e906";
$ds-icon-arrow-right: "\e907";
$ds-icon-arrow-down-left: "\e908";
$ds-icon-arrow-up-right: "\e909";
$ds-icon-arrow-up-left: "\e90a";
$ds-icon-arrow-down-right: "\e90b";
$ds-icon-arrow-down: "\e90c";
$ds-icon-arrow-up: "\e90d";
$ds-icon-arrows-maximize: "\e90e";
$ds-icon-arrows-minimize: "\e90f";
$ds-icon-arrows-move: "\e910";
$ds-icon-chevron-down: "\e911";
$ds-icon-chevron-left: "\e912";
$ds-icon-chevron-right: "\e913";
$ds-icon-chevron-up: "\e914";
$ds-icon-upload: "\e915";
$ds-icon-download-off: "\e916";
$ds-icon-download: "\e917";
$ds-icon-login: "\e918";
$ds-icon-logout: "\e919";
$ds-icon-refresh-alert: "\e91a";
$ds-icon-refresh: "\e91b";
$ds-icon-reload: "\e91c";
$ds-icon-switch-horizontal: "\e91d";
$ds-icon-switch-vertical: "\e91e";
$ds-icon-arrows-diff: "\e91f";
$ds-icon-arrows-horizontal: "\e920";
$ds-icon-eye-check: "\e921";
$ds-icon-eye-off: "\e922";
$ds-icon-eye: "\e923";

