.accordion-button {
    font-weight: 600;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
}

.accordion-item {
    border-width: 0;
    border-radius: 8px;

    &+.accordion-item {
        margin-top: 1rem;
    }
}

.accordion-body {
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}